.container {
    display: flex;
    padding-left: 1px;
}

.wrap {
    flex-grow: 1;
}

.container > .bowtie-icon {
    font-size: 24px;
    color: lightgray;
    margin: 4px 0px 0px 4px;
    cursor: pointer;
}

.bowtie-icon.focus, .bowtie-icon:hover {
    color: gray;
}

.combo {
    border: 1px solid transparent;
    height: 2em;
    position: relative;
    padding-left: 2px;
    background: #fff;
}

.combo:focus, .combo:hover, .combo.border {
    border: 1px solid #e6e6e6;
}

div.wrap>input[type=number] {
    height: 100%;
    font-size: 14px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
}

input {
    width: 100%;
    font-size: 14px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
}

/*
 * Remove up/down arrows on input type=number
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}