.bowtie-icon {
    float: right;
    margin: 3px 5px 3px 3px;
}

.combo {
    border: 1px solid transparent;
    height: 2em;
    position: relative;
    padding-left: 2px;
    background: #fff;
}

.combo.focus, .combo:hover {
    border: 1px solid #e6e6e6;
}


.combo div.wrap>input[type=text] {
    height: 100%;
    border: none;
    outline: none;
}

.combo input {
    font-size: 14px;
    text-overflow: ellipsis;
}